<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Scout Gaming Group</title>

  <link href="https://fonts.googleapis.com/css?family=Exo:400,600,700,800,300,100,200,500,900" rel="stylesheet"
        type="text/css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link href="/styles/style.css" rel="stylesheet">

	{{!-- This file provides the default styling for the KeystoneJS Content Editor
        - only renders when user is logged in and admin--}}
	{{{isAdminEditorCSS user}}}

	{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8 --}}
  <!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
	<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/CSSPlugin.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/easing/EasePack.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenLite.min.js"></script>
</head>
<body>
<header class="header">
  <strong class="logo">
    <a class="logo__reference" href="/#jumbotron"></a>
  </strong>
  <div class="toggler">
    <button id="showhide" class="toggler__item" type="button" name="button">
      <svg class="icon icon-hamburger">
        <use xlink:href="/images/symbol-defs.svg#icon-hamburger"></use>
      </svg>
    </button>
  </div>
  <nav class="nav">
	  {{# each navLinks}}
		  {{#if talkBtn}}
            <a class="nav__item-action" id="talkbutton" href="#">{{label}}</a>
		  {{else}}
            <a class="nav__item" href="{{href}}">{{label}}</a>
		  {{/if}}
	  {{/each}}
  </nav>
</header>

<!-- The content block should contain the body of your template's content-->
{{{body}}}

<div class="mobile-menu">
  <div class="mobile-menu__wrapper">

    <button class="mobile-menu__btn" id="hideshow" type="button" name="button">
      <svg class="icon icon-crossy">
        <use xlink:href="/images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <ul class="mobile-menu__list">
		{{#each navLinks}}
			{{#if talkBtn}}
              <button class="mobile-menu__item-btn" id="talkbutton1" type="button"
                      name="button">{{label}}</button>
			{{else}}
              <li class="mobile-menu__item">
                <a href="{{href}}">{{label}}</a>
              </li>
			{{/if}}
		{{/each}}
    </ul>
  </div>
</div>
<div class="popup-wrapper">
  <div class="popup">
    <button type="button" name="closer" class="btn-close">
      <svg class="icon icon-cross">
        <use xlink:href="/images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="inner-wrapper">
      <div class="form-content" data-action-form="/contact"></div>
      <div class="adrress">
        <div class="adrress__item-bergen">
          <h4 class="adrress__item-info">
            Bergen Office, Norway</h4>
          <ul class="adrress__item-list">
            <li class="text-item">Kanalveien 64,</li>
            <li class="text-item">5059 Bergen</li>
            <li class="text-item">Tel: +47 56 12 30 00</li>
            <li class="text-item">post@globalit.no</li>
          </ul>
        </div>
        <div class="adrress__item-lviv">
          <h4 class="adrress__item-info">Lviv Office, Ukraine</h4>
          <ul class="adrress__item-list">
            <li class="text-item">Valova 15,</li>
            <li class="text-item">79000 Lviv</li>
            <li class="text-item">Tel: +38 067 70 71 370</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/jquery/jquery-1.11.3.min.js"></script>
<script src="/js/lines/lines.js"></script>
<script src="/js/contact-form/contact-form.js"></script>
<script src="/js/init-page/init-page.js"></script>
<script src="/js/scroll-hash/scroll-hash.js"></script>
<script src="/js/main.js"></script>
{{{isAdminEditorJS user}}}
</body>
</html>
