<form class="form" method="post" action="/contact">
  <input type="hidden" name="action" value="contact">
  <h2 class="form__title">let's talk</h2>
  <div class="form__row">
    <div class="form__item {{#if validationErrors.name}}has-error{{/if}}">
      <input class="control-item" type="text" name="name.full" value="{{formData.[name.full]}}" placeholder="name">
    </div>
    <div class="form__item {{#if validationErrors.email}}has-error{{/if}}">
      <input class="control-item" type="email" name="email" value="{{formData.email}}" placeholder="e-mail">
    </div>
  </div>
  <div class="form__row {{#if validationErrors.message}}has-error{{/if}}">
    <textarea class="control-text" name="message" rows="4">{{formData.message}}</textarea>
  </div>
  <button class="form__approve" type="submit" name="usersubmit" value="submit">Submit</button>
</form>
