.approach{
    &__title{
        margin: 0;
        padding: 0;
        max-width: 700px;
        max-height: 740px;
        font-size: 48px;
        font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
        line-height: 1.5;
        color: #fff;
        box-sizing: border-box;
        margin-bottom: 20px;
        @include respond-to(tablet-landscape){
            padding: 0;
            }
        @include respond-to(mobile-landscape){
            font-size: 36px;
            }
        @include respond-to(mobile-portrait){
            line-height: 1.2;
            font-size: 40px;
            }
    }
    &__content{
        background: linear-gradient(to bottom, rgba(0, 154, 164, 1) 0%, rgba(15, 100, 115, 1) 100%);
        position: relative;
        padding: 150px 45px 360px 75px;
        box-sizing: border-box;
        @include respond-to(middle-desktop){
            padding: 150px 40px 200px 55px
            }
        @include respond-to(tablet-landscape){
            padding: 150px 40px 160px 30px
            }
        @include respond-to(tablet-portrait){
            padding: 100px 30px 60px 30px
            }
        @include respond-to(mobile-landscape){
            padding: 100px 40px 30px
            }
        @include respond-to(mobile-portrait){
            padding: 50px 20px 30px
            }
        //&:after{
        //    background-image: url("../../images/approach_pulse.png");
        //    background-position: center center;
        //    background-size: 100% 100%;
        //    background-repeat: no-repeat;
        //    width: 100%;
        //    position: absolute;
        //    bottom: 0;
        //    left: 0;
        //    height: 180px;
        //    content: "";
        //    @include respond-to(tablet-portrait){
        //        width: 0;
        //        height: 0;
        //    }
        //}

        & canvas{
            top: 0;
            position: absolute;
        }
    }
    &__text{
        padding: 5px 0 0;
        max-width: 850px;
        text-align: left;
        font-size: 24px;
        font-family: "Raleway-Thin", Arial, Helvetica, sans-serif;
        line-height: 36px;
        color: #fff;
        margin: 0;
        @include respond-to(middle-desktop){
            max-width: 850px;
            text-align: left;
            }
        @include respond-to(tablet-landscape){
            max-width: 700px;
            font-size: 20px;
            line-height: 1.5;
            }
        @include respond-to(tablet-portrait){
            max-width: 660px;
            }
        @include respond-to(mobile-landscape){
            max-width: 450px;
            padding-right: 20px;
            font-size: 16px;
            }
        @include respond-to(mobile-portrait){
            font-size: 16px;
            padding: 20px 25px 0 0;
            }
    }
    &__list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        background: #fff;
        padding: 0 0 70px 40px;
        box-sizing: border-box;
        @include respond-to(middle-desktop){
            padding: 0;
            }
        @include respond-to(tablet-landscape){
            flex-direction: column;
            width: 100%;
            }
    }
    &__list-item{
        max-width: 400px;
        border-left: 2px solid black;
        box-sizing: border-box;
        border-image: linear-gradient(to bottom, #2cb9ac 0%, #feffff 100%);
        border-image-slice: 1;
        position: relative;
        padding: 45px 25px 20px 30px;
        @include respond-to(middle-desktop){
            padding: 35px 20px 30px 30px;
            }
        @include respond-to(tablet-landscape){
            max-width: 100%;
            &:not(:last-child){
                border-left: none;
                border-bottom: 3px solid black;
                border-image: linear-gradient(to right, #2cb9ac 0%, #feffff 100%);
                border-image-slice: 2;
            }
            &:last-child{
                border-left: none;
                border-right: none;
            }
            padding: 35px 30px 30px 35px;
        }
        @include respond-to(tablet-portrait){
            padding: 35px 30px 30px 25px
        }
        @include respond-to(mobile-landscape){
            padding-top: 30px;
            padding-left: 30px;
        }
        &:first-child{
            padding-left: 30px;
            border-left: none;
            @include respond-to(middle-desktop){
                padding-left: 40px;
                }
            @include respond-to(tablet-landscape){
                padding-left: 30px
                }
            @include respond-to(mobile-landscape){
                padding-left: 30px;
                padding-top: 30px;
                }
            @include respond-to(mobile-portrait){
                padding-left: 25px
                }
        }
        @include respond-to(mobile-portrait){
            padding-left: 25px
            }
        &:not(:first-child):before{
            content: "";
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-sizing: border-box;
            top: 40px;
            border: 2px solid #2db8ac;
            background: #fff;
            left: -22px;
            position: absolute;
            z-index: 3;
            @include respond-to(middle-desktop){
                top: 25px;
                }
            @include respond-to(tablet-landscape){
                content: "";
                width: 40px;
                height: 40px;
                border-radius: 50%;
                box-sizing: border-box;
                top: -20px;
                border: 2px solid #2db8ac;
                background: #fff;
                left: 30px;
                position: absolute;
                z-index: 3;
                }
            @include respond-to(mobile-landscape){
                left: 40px
                }
            @include respond-to(mobile-portrait){
                left: 30px
                }
        }
        &:not(:first-child):after{
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            top: 53.5px;
            left: -10px;
            box-sizing: border-box;
            position: absolute;
            z-index: 4;
            border-top: 3px solid #0F6473;
            border-right: 3px solid #0F6473;
            transform: rotate(45deg);
            @include respond-to(middle-desktop){
                top: 38.5px;
            }
            @include respond-to(tablet-landscape){
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                top: -8px;
                left: 44px;
                box-sizing: border-box;
                position: absolute;
                z-index: 4;
                border-top: 3px solid #0F6473;
                border-right: 3px solid #0F6473;
                transform: rotate(135deg);
            }
            @include respond-to(mobile-landscape){
                left: 54px;
            }
            @include respond-to(mobile-portrait){
                left: 44px;
            }
        }
    }
    &__item-title{
        margin: 0;
        text-align: left;
        margin-bottom: 20px;
        padding: 0;
        text-transform: uppercase;
        font-size: 24px;
        font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
        line-height: 1.2;
        letter-spacing: 2px;
        &:last-child{
            padding-right: 50px;
            }
        @include respond-to(middle-desktop){
            // padding: 35px 0px 10px 30px
            margin-bottom: 10px;
            letter-spacing: 1px;
            font-size: 16px;
            }
        @include respond-to(tablet-landscape){
            max-width: 768px;
            // padding: 35px 20px 10px 0px
            font-size: 18px;
            }
        @include respond-to(mobile-landscape){
        // padding: 20px 20px 10px 30px
        }
        @include respond-to(mobile-portrait){
        }
    }
    &__item-text{
        margin: 0;
        padding: 0;
        text-align: left;
        max-width: 280px;
        font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        @include respond-to(middle-desktop){
            max-width: 300px;
            font-size: 12px;
            }
        @include respond-to(tablet-landscape){
            max-width: 767px;
            font-size: 16px;
            }
        @include respond-to(tablet-portrait){
            max-width: 768px;
            font-size: 16px;
            }
        @include respond-to(mobile-portrait){
            font-size: 18px;
            }
    }

    & .stat{
        &__row{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            @include respond-to(tablet-landscape){
                display: block;
            }
        }
        &-value{
            margin-top: 3em;
            color: #000;
            text-align: center;
            &__number{
                font-size: 4em;
                font-weight: 600;
                letter-spacing: 3px;
                margin: 0;
                padding: 0;
                font-family: Exo;
            }
            &__name{
                font-size: 1.2em;
                font-weight: 300;
                letter-spacing: 3px;
                text-transform: uppercase;
            }
        }
    }
}