.career{
    background: linear-gradient(to bottom, rgba(0, 102, 102, 1) 0%, rgba(0, 147, 155, 1) 5%, rgba(15, 99, 116, 1) 100%);
    min-width: 320px;
    padding-top: 100px;
    @include respond-to(tablet-landscape){
        padding-top: 60px;
        }
    &-container{
        padding: 70px 100px 160px;
        @include respond-to(desktop){
            padding: 70px 70px 160px;
            }
        @include respond-to(middle-desktop){
            padding: 70px 30px 100px;
            }
    }
    &__title{
        text-align: center;
        color: #fff;
        font-size: 48px;
        font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
        line-height: 60px;
        margin: 0 auto;
        margin-bottom: 50px;
        letter-spacing: 1.5px;
        }
    &__text{
        text-align: center;
        color: #fff;
        font-size: 24px;
        font-family: "Raleway-Thin", Arial, Helvetica, sans-serif;
        line-height: 48px;
        margin: 0 auto;
        padding: 0 20px;
        @include respond-to(tablet-landscape){
            padding: 0 50px;
            }
        @include respond-to(tablet-portrait){
            padding: 0;
            }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        padding: 100px 0 0;
        @include respond-to(tablet-landscape){
            flex-flow: column;
            }
        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 40px 20px;
            position: relative;
            box-sizing: border-box;
            flex: 1;
            &:not(:first-child):after{
                background: #2cb8ac;
                content: "";
                width: 2px;
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0;
            }
            @include respond-to(tablet-landscape){
                margin-bottom: 50px;
                &:not(:first-child):after{
                    background: #2cb8ac;
                    content: "";
                    width: 0px;
                    position: absolute;
                    bottom: 1px;
                    left: 10px;
                    right: 10px;
                }
                &:before{
                    background: #2cb8ac;
                    content: "";
                    height: 2px;
                    position: absolute;
                    bottom: 0px;
                    left: 130px;
                    right: 130px;
                }
            }
            @include respond-to(tablet-portrait){
                &:before{
                    left: 75px;
                    right: 75px;
                }
            }
            @include respond-to(mobile-landscape){
                &:before{
                    left: 20px;
                    right: 20px;
                    }
            }
            @include respond-to(mobile-portrait){
                &:before{
                    left: 10px;
                    right: 10px;
                }
            }
        }
        &-icon-wrapper{
            margin: 0 auto;
            margin-bottom: 70px;
        }
        &-list{
            margin: 0;
            padding: 0;
            @include respond-to(large-desktop){
            // padding: 0 70px 0 55px
            }
            @include respond-to(middle-desktop){
            // padding: 0 30px 0 40px
            }
            @include respond-to(tablet-landscape){
                margin: 0 auto;
                max-width: 400px;
                margin-bottom: 50px;
            // padding: 0 0 0 50px
            }
            @include respond-to(tablet-portrait){
            // padding: 0 40px 0 60px
            }
            @include respond-to(mobile-portrait){
            // padding: 0 20px 0 40px
            }
            &-item{
                color: #fff;
                font-size: 18px;
                line-height: 27px;
                text-align: left;
                font-family: "Raleway-Thin", Arial, Helvetica, sans-serif;
                list-style-type: none;
                position: relative;
                margin-bottom: 20px;
                padding-left: 20px;
                cursor: default;
            }
            &-text{
                margin: 0;
            }
            &-circle{
                display: block;
                width: 6px;
                height: 6px;
                background: #00ffea;
                border-radius: 50%;
                position: absolute;
                left: 0px;
                top: 10px;
            }
        }
    }
}
.vacancy{
    &__item{
        display: flex;
        justify-content: space-between;
        position: relative;
        background: #fff;
        border-bottom: 2px solid #048b97;
        height: auto;
        transition: all 0.5s;
        overflow: hidden;
        box-sizing: border-box;
        @include respond-to(tablet-landscape){
            flex-flow: column;
            }
        @include respond-to(mobile-landscape){
            max-height: 120px;
            }
        @include respond-to(mobile-portrait){
            max-height: 110px;
            }
        &:last-child{
            border: none;
            box-shadow: -2px 20px 18px -7px rgba(0, 0, 0, 0.75);
            }
        &:hover{
            background: transparent;
            @include respond-to(tablet-landscape){
                max-height: 900px;
                }
            .vacancy__item-subtitle, .vacancy__item-text, .vacancy__item-detail, .vacancy__item-desirable, .vacancy__item-essential{
                color: #fff;
                }
            .vacancy__btn{
                display: block;
                background: #fff;
                border: none;
                box-shadow: 5px 8.66px 24px 0px rgba(1, 2, 2, 0.3);
                }
        }
    }

    &__about{
        width: 50%;
        padding: 20px 75px 40px;
        box-sizing: border-box;
        max-height: 310px;
        overflow: hidden;
        transition: all 1s;
        @include respond-to(tablet-landscape){
            width: 100%;
            padding: 20px 50px 20px 35px;
        }
        @include respond-to(tablet-portrait){
            padding: 20px 30px 20px 25px;
        }
        @include respond-to(mobile-landscape){
            padding: 20px 30px 20px 35px;
        }
        @include respond-to(mobile-portrait){
            padding-left: 20px;
            padding-top: 5px;
        }
    }
    &__item-location{
        color: #61ccc3;
        font-size: 18px;
        font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
        line-height: 24px;
        margin: 0;
        margin-bottom: 20px;
        cursor: default;
        @include respond-to(mobile-landscape){
            margin-bottom: 5px;
        }
    }
    &__item-subtitle{
        font-size: 24px;
        font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
        line-height: 36px;
        color: #000;
        margin: 0;
        cursor: default;
        @include respond-to(mobile-landscape){
            margin-bottom: 50px;
        }
    }
    &__item-desirable{
        max-width: 360px;
        margin: 10px 0;
        color: #000;
        font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 30px;
        cursor: default;
    }
    &__item-essential{
        max-width: 360px;
        margin: 10px 0;
        color: #000;
        font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 30px;
        cursor: default;
    }
    &__item-text{
        margin: 0;
        color: #000;
        font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 30px;
        cursor: default;
        padding-bottom: 30px;
    }
    &__item-detail{
        font-size: 18px;
        font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
        line-height: 24px;
        color: #000;
        margin-top: 25px;
        display: block;
        margin-bottom: 10px;
        cursor: default;
    }
    &:last-child{
        margin-bottom: 35px;
    }
    &__btn-wrapper{
        flex: 1;
        align-self: center;
        align-content: center;
        height: 100%;
        padding: 0 75px;
        @include respond-to(tablet-landscape){
            padding: 0;
        }
    }
    &__reference{
        position: absolute;
        display: block;
        width: 100px;
        height: 100px;
        background: #389ca5;
        visibility: hidden;
        bottom: -50px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        border-radius: 60px;
        overflow: hidden;
        opacity: 0.7;
        &:hover{
            cursor: pointer;
            opacity: 1;
        }
        &-btn{
            position: relative;
            visibility: hidden;
            &:before{
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                bottom: -40px;
                box-sizing: border-box;
                position: absolute;
                z-index: 4;
                border-top: 3px solid #0F6473;
                border-right: 3px solid #0F6473;
                transform: rotate(315deg);
                overflow: hidden;
            }
        }
    }
    &__btn{
        margin: auto;
        margin-right: 55px;
        border: 1px solid #000;
        outline: none;
        height: 60px;
        width: 360px;
        background: transparent;
        border-radius: 30px;
        font-size: 16px;
        font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: none;
        box-sizing: border-box;
        transition: 0.5s;
        &:hover{
            color: #0e6472;
            box-shadow: 5px 8.66px 24px 0px rgba(1, 2, 2, 0.3);
            transition: all 0.3s;
            font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
            border: transparent;
            font-size: 18px;
        }
        &-CV{
            display: block;
            margin: 40px 0 20px;
            border: 1px solid #fff;
            outline: none;
            height: 60px;
            width: 360px;
            visibility: hidden;
            background: transparent;
            border-radius: 30px;
            font-size: 16px;
            font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
            line-height: 48px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            box-sizing: border-box;
            transition: 0.5s;
            color: #fff;
            &:hover{
                color: #0e6472;
                box-shadow: 5px 8.66px 24px 0px rgba(1, 2, 2, 0.3);
                transition: all 0.3s;
                background: #fff;
                font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
                border: transparent;
                font-size: 18px;
            }
        }
        @include respond-to(tablet-landscape){
            margin: 0 auto;
            margin-bottom: 50px;
        }
        @include respond-to(mobile-portrait){
        }
    }
    .tabs__row-item{
        text-align: center;
        padding: 30px 20px 20px 70px;
        font-size: 30px;
        @include respond-to(tablet-landscape){
            width: 100%;
            padding: 30px 0 20px 35px
        };
        @include respond-to(tablet-portrait){
            padding-left: 25px;
        }
        @include respond-to(mobile-landscape){
            padding-left: 35px;
        }
        @include respond-to(mobile-portrait){
            padding-left: 20px;
        }
        &:hover{
            cursor: pointer;
        }
    }
}
.contacts{
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 200px 50px 150px;
        box-sizing: border-box;
        @include respond-to(mobile-landscape){
            margin-bottom: 50px;
        }
    }
    &__title{
        font-size: 36px;
        font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
        color: #fff;
        margin: 0;
        line-height: 54px;
        @include respond-to(mobile-landscape){
            text-align: center;
        }
    }
    &__text{
        font-size: 36px;
        font-family: "Raleway-Thin", Arial, Helvetica, sans-serif;
        margin: 0;
        line-height: 54px;
        color: #fff;
        margin-bottom: 60px;
        @include respond-to(mobile-landscape){
            text-align: center;
        }
    }
    &__btn{
        height: 65px;
        width: 485px;
        display: block;
        border: 1px solid #000;
        border-radius: 32.5px;
        outline: none;
        background: transparent;
        font-size: 24px;
        line-height: 36px;
        font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
        color: #fff;
        margin-bottom: 90px;
        transition: 0.5s;
        @include respond-to(mobile-landscape){
            width: 80%;
        }
        &:hover{
            background: #fff;
            color: rgb(15, 100, 115);
            border: transparent;
            box-shadow: 5px 8.66px 24px 0px rgba(1, 2, 2, 0.3);
        }
    }
    &__info{
        width: 120px;
        height: 120px;
        position: relative;
        margin-bottom: 45px;
        &-mail{
            width: 100px;
            height: 100px;
            background: #3a8a95;
            opacity: 0.5;
            border-radius: 50%;
            position: absolute;
            left: -80px;
            top: 10px;
            cursor: pointer;
            display: block;
            overflow: hidden;
            }
        &-img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            z-index: 2;
            }
        &-skype{
            position: absolute;
            width: 100px;
            height: 100px;
            background: #3a8a95;
            opacity: 0.5;
            border-radius: 50%;
            right: -80px;
            top: 12px;
            cursor: pointer;
            overflow: hidden;
            }
        &-text{
            color: #fff;
            font-size: 30px;
            max-width: 200px;
            text-align: center;
            font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
            margin: 0;
        }
        &-special{
            font-size: 24px;
            text-align: center;
            font-family: "Raleway-Thin", Arial, Helvetica, sans-serif;
        }
    }
}
.icon-betting-l{
    width: 120px;
    height: 120px;
}
.icon-l{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    color: #00ffe9;
    box-sizing: border-box;
    fill: currentColor;
    @include respond-to(middle-desktop){
        width: 100px;
        height: 100px;
    }
}
.icon-Skype{
    width: 100px;
    height: 100px;
    color: #fff;
    border-radius: 50%;
}
.icon-Letter{
    width: 100px;
    height: 100px;
    color: #fff;
    border-radius: 50%;
}
.dis-none{
    display: none !important;
}
.dis-block{
    display: block;
}