.collection{
    overflow-y: hidden;
    padding: 140px 70px;
    background: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    @include respond-to(middle-desktop){
        padding: 90px 50px;
        }
    @include respond-to(tablet-landscape){
        padding: 100px 30px;
        }
    @include respond-to(tablet-portrait){
        padding: 100px 0;
        }
    @include respond-to(mobile-landscape){
        padding: 70px 0 0 0;
        }
    &__item{
        height: 400px;
        flex: 0 1 400px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        position: relative;
        &:hover{
            .collection__item-image-wrapper{
                animation: fadeOut 0.5s 1;
                }
            .collection__item-inner{
                animation: fadeIn 0.5s 1;
                z-index: 3;
                }
            .collection__item-roundimage{
                animation: pulse 0.8s 1;
                }
        }
        @include respond-to(middle-desktop){
            height: 300px;
            flex: 0 1 300px;
            }
        @include respond-to(tablet-portrait){
            flex: 0 1 290px;
            height: 290px;
            }
        @include respond-to(mobile-landscape){
            height: 400px;
            flex: 0 1 400px;
            }
        @include respond-to(mobile-portrait){
            height: 290px;
            flex: 0 1 290px;
            }
    }
    &__item-image{
        width: 100%;
        height: 100%;
        display: block;
        }
    &__item-image-wrapper{
        z-index: 2;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        }
    &__item-inner{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        @include respond-to(middle-desktop){
            height: 300px;
            width: 300px;
            }
        @include respond-to(tablet-portrait){
            width: 100%;
            height: 100%;
            }
        @include respond-to(mobile-portrait){
            height: 290px;
            width: 290px;
            }
    }
    &__item-inner-image{
        width: 100%;
        height: 100%;
        }
    &__item-content{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 20px;
        box-sizing: border-box;
        @include respond-to(mobile-landscape){
            padding-top: 0;
            }
    }
    &__item-inner-title{
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        font-size: 16px;
        @include respond-to(mobile-landscape){
            font-size: 20px;
            padding-top: 20px;
            }
        @include respond-to(mobile-portrait){
            font-size: 16px;
            }
    }
    &__item-inner-view{
        box-sizing: border-box;
        width: 230px;
        height: 230px;
        margin: 10px auto;
        margin-bottom: 20px;
        @include respond-to(middle-desktop){
            width: 150px;
            height: 150px;
            }
        @include respond-to(mobile-landscape){
            width: 200px;
            height: 200px;
            margin-top: 20px;
            }
        @include respond-to(mobile-portrait){
            width: 150px;
            height: 150px;
            margin-top: 10px;
            }
    }
    &__item-roundimage{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        }
    &__item-inner-earth{
        display: block;
        margin: 0 auto;
        text-align: center;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        &:hover{
            cursor: pointer;
            color: grey;
            }
        .icon-earth{
            width: 40px;
            height: 40px;
            color: #fff;
            opacity: 0.7;
            &:hover{
                opacity: 1;
            }
        }
    }
    &__item-inner-stack{
        margin: 0 auto;
        padding: 10px;
        display: flex;
        justify-content: center;
        //@include respond-to(tablet-portrait),
        @include respond-to(mobile-landscape){
            padding-top: 30px;
        }
        @include respond-to(mobile-portrait){
            padding-top: 10px;
        }
    }
    &__item-text{
        list-style-type: none;
        padding: 0 10px;
        position: relative;
        box-sizing: border-box;
        @include respond-to(middle-desktop){
            padding: 0 6px;
            }
        &:not(:last-child):after{
            background: #fff;
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 50%;
            position: absolute;
            right: -2px;
            top: 50%;
            margin-top: -2px;
            @include respond-to(mobile-landscape){
                width: 2px;
                height: 2px;
                right: -1px;
                top: 50%;
                margin-top: -1px;
            }
        }
        p{
            text-transform: uppercase;
            color: #fff;
            margin: 0;
            font-family: "Raleway-Extralight", Arial, Helvetica, sans-serif;
            font-size: 12px;
            line-height: 3;
            @include respond-to(middle-desktop){
                font-size: 10px;
                line-height: 2;
            }
            @include respond-to(tablet-portrait){
                font-size: 9px;
            }
            @include respond-to(mobile-landscape){
                font-size: 12px;
                letter-spacing: 1px;
            }
            @include respond-to(mobile-portrait){
                font-size: 8px;
                letter-spacing: 0.5px;
                line-height: 2;
            }
        }
    }
    &__item__button{
        background: #fff;
        flex: 0 1 800px;
        @include respond-to(middle-desktop){
            flex: 0 1 600px;
            }
        @include respond-to(mobile-portrait){
            flex: 0 1 280px;
            }
        &__real{
            width: 400px;
            height: 60px;
            box-sizing: border-box;
            margin: 0 auto;
            margin-top: 190px;
            background: transparent;
            border-radius: 32.5px;
            border: 1px solid #000;
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
            color: #000;
            line-height: 1.2;
            font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
            outline: none;
            letter-spacing: 2px;
            transition: 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            &:hover{
                background: #fff;
                color: #097886;
                box-shadow: 5px 8.66px 24px 0px rgba(1, 2, 2, 0.3);
                border: none;
            }
            @include respond-to(desktop){
                margin-top: 185px;
            }
            @include respond-to(middle-desktop){
                margin-top: 60px;
            }
            @include respond-to(tablet-portrait){
                width: 300px;
                margin: 70px auto;
                margin-bottom: 0px;
            }
            @include respond-to(mobile-landscape){
                width: 85%;
                margin: 60px auto 100px;
            }
        }
    }
}