// Media query screen sizes
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 600px;
$tablet-landscape: 768px;
$middle-desktop: 1024px;
$large-desktop: 1280px;
$desktop: 1366px;
$full-hd-desktop: 1600px;

html,
body {
    min-height: 100%;
}
body {
    font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
    font-weight: normal;
    background-color: #fff;
}
.nonscrollable {
    overflow: hidden;
}
.minheight {
    height: 0 !important
}
.maxheight {
    height: 100% !important
}
.dis-block {
    display: block
}
.dis-none {
    display: none
}
.dis-flex {
    display: flex
}
.wrapper {
    overflow-x: hidden;
    padding-top: 81px;
    @include respond-to(tablet-landscape){
        padding-top: 60px;
    }
}
.visible {
    visibility: visible !important
}
.hidden {
    visibility: hidden !important
}