.features {
    background: linear-gradient(to bottom, rgba(0, 102, 102, 1) 0%, rgba(0, 147, 155, 1) 1.5%, rgba(15, 99, 116, 1) 100%);
    @include respond-to(tablet-portrait) {
        background: linear-gradient(to bottom, rgba(0, 102, 102, 1) 0%, rgba(0, 147, 155, 1) 1%, rgba(15, 99, 116, 1) 100%);
    }
    padding: 200px 150px;
    margin: 0 auto;
    @include respond-to(middle-desktop) {
        padding: 200px 50px;
    }
    @include respond-to(tablet-landscape) {
        padding: 150px 0px;
    }
    @include respond-to(mobile-landscape) {
        padding: 100px 35px;
    }
    &__list {
        // max-width: 1200px
        margin: 0 auto;
        // padding: 140px 0 140px 0
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: row;
        @include respond-to(middle-desktop) {
            // max-width: 760px
            // padding: 140px 0 130px 0
        }
        @include respond-to(tablet-landscape) {
            margin: 0 auto;
            flex-wrap: wrap;
            // padding: 120px 0px
            // max-width: 850px
        }
        @include respond-to(tablet-portrait) {
            // padding: 100px 5px
            margin: 0 auto;
        }
        @include respond-to(mobile-portrait) {
            // max-width: 300px
            // padding: 30px 5px
        }
    }
    &__item {
        flex: 1 1 auto;
        text-align: center;
        height: 400px;
        margin: 0 auto;
        max-width: 400px;
        position: relative;
        box-sizing: border-box;
        transition: all 1s;
        // flex: 1
        &:hover {
            .features__item-hover {
                animation: fadeIn 0.3s 1;
            }
        }
        &:not(:first-child):after {
            background: #2cb8ac;
            content: "";
            width: 2px;
            position: absolute;
            top: 40px;
            bottom: 40px;
            left: 0;
        }
        @include respond-to(desktop) {
            &:not(:first-child):after {
                background: #2cb8ac;
                content: "";
                width: 2px;
                position: absolute;
                top: 40px;
                bottom: 40px;
                left: 0;
            }
        }
        @include respond-to(large-desktop) {
            &:not(:first-child):after {
                background: #2cb8ac;
                content: "";
                width: 2px;
                position: absolute;
                top: 40px;
                bottom: 40px;
                left: 0;
            }
        }
        @include respond-to(middle-desktop) {
            flex: 1 1 auto;
            height: 252px;
            text-align: center;
            &:not(:first-child):after {
                background: #2cb8ac;
                content: "";
                width: 2px;
                position: absolute;
                top: 20px;
                bottom: 20px;
                left: 0;
            }
        }
        @include respond-to(tablet-landscape) {
            flex: 0 1 350px;
            height: 350px;
            margin: 0;
            &:nth-child(2n+4):after {
                background: #2cb8ac;
                content: "";
                width: 2px;
                position: absolute;
                top: 20px;
                bottom: 20px;
                left: 0;
            }
            &:nth-child(2n+1):after {
                width: 0;
            }
            &:nth-child(-n+2):before {
                background: #2cb8ac;
                content: "";
                height: 2px;
                position: absolute;
                bottom: 0;
                right: 20px;
                left: 20px;
            }
        }
        @include respond-to(tablet-portrait) {
            margin: 0;
            flex: 0 1 280px;
            height: 280px;
            &:nth-child(2n+4):after {
                background: #2cb8ac;
                content: "";
                width: 2px;
                position: absolute;
                top: 20px;
                bottom: 20px;
                left: 0;
            }
            &:nth-child(2n+1):after {
                background: #2cb8ac;
                content: "";
                width: 0px;
                position: absolute;
                top: 40px;
                bottom: 40px;
                left: 0;
            }
        }
        @include respond-to(mobile-landscape) {
            margin: 0 auto;
            flex: 0 1 350px;
            height: 350px;
            &:nth-child(1n+1):after {
                width: 0;
            }
            &:nth-child(1n+1):before {
                background: #2cb8ac;
                content: "";
                height: 2px;
                position: absolute;
                bottom: 0;
                right: 20px;
                left: 20px;
            }
            &:last-child:before {
                height: 0;
                display: none;
            }
        }
        &:hover .features__item-hover {
            transform: scale(1.02);
            visibility: visible;
            box-shadow: 5px 8.66px 24px 0px rgba(1, 2, 2, 0.3);
        }
    }
    &__icon-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
        padding-top: 85px;
        @include respond-to(middle-desktop) {
            padding-top: 30px
        }
        @include respond-to(tablet-landscape) {
            padding-top: 90px
        }
        @include respond-to(tablet-portrait) {
            padding-top: 50px
        }
        @include respond-to(mobile-landscape) {
            padding-top: 70px
        }
        @include respond-to(mobile-portrait) {
            padding-top: 40px;
            padding-bottom: 0px;
        }
        .icon {
            width: 80px;
            height: 80px;
        }
    }
    &__item-hover {
        position: absolute;
        z-index: 2;
        background: #fff;
        width: 100%;
        height: 100%;
        transform: scale(0.98);
        transition: 0.2s;
        animation: fadeOut 0.5s 1;
        visibility: hidden;
        box-sizing: border-box;
    }
    &__stack {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: stretch;
        padding: 90px 0 0 0;
        margin: 0 auto;
        @include respond-to(middle-desktop) {
            padding-top: 40px
        }
        @include respond-to(tablet-portrait) {
            padding-top: 20px
        }
        @include respond-to(mobile-landscape) {
            padding-top: 40px
        }
        &-item {
            list-style-type: none;
            font-family: "Raleway", Arial, Helvetica, sans-serif;
            font-size: 24px;
            color: #000;
            text-align: center;
            padding-bottom: 30px;
            user-select: none;
            cursor: default;
            @include respond-to(middle-desktop) {
                padding-top: 10px;
                font-size: 20px;
                line-height: 1.5;
            }
            @include respond-to(tablet-landscape) {
                font-size: 18px;
                padding-top: 30px;
            }
            @include respond-to(tablet-portrait) {
                font-size: 22px;
                line-height: 60px;
                padding-top: 0px;
            }
            @include respond-to(mobile-portrait) {
                font-size: 16px;
                padding-top: 15px;
                line-height: 32px;
            }
        }
    }
    &__item-text {
        text-align: center;
        display: inline-block;
        font-size: 21px;
        color: #fff;
        padding-top: 120px;
        font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        line-height: 1.5;
        letter-spacing: 3px;
        max-width: 200px;
        margin: 0 auto;
        @include respond-to(middle-desktop) {
            padding-top: 70px;
            font-size: 16px;
            letter-spacing: 4px;
        }
        @include respond-to(tablet-portrait) {
            font-size: 18px;
            padding-top: 70px;
            max-width: 200px;
        }
        @include respond-to(mobile-landscape) {
            padding-top: 90px;
        }
        @include respond-to(mobile-portrait) {
            padding-top: 50px;
        }
    }
    @include respond-to(middle-desktop) {
        padding-top: 70px;
        font-size: 16px;
        letter-spacing: 4px;
    }
}