.icon{
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    color: #00ffe9;
    box-sizing: border-box;
    fill: currentColor;
    @include respond-to(tablet-portrait){
        width: 80px;
        height: 80px;
        };
    @include respond-to(mobile-landscape){
        width: 80px;
        height: 80px;
        };
}