.persons{
    background: url("../../images/Team_logo.jpg") center center no-repeat;
    background-size: cover;
    min-height: 770px;
    display: flex;
    justify-content: flex-end;
    align-content: stretch;
    align-items: stretch;
    box-sizing: border-box;
    @include respond-to(middle-desktop){
        min-height: 500px;
    }
    &__content{
        flex: 0 1 645px;
        box-sizing: border-box;
        background-color: rgba(229, 229, 229, 0.5);
        padding: 40px 30px;
        @include respond-to(middle-desktop){
            flex: 0 1 400px;
            }
        @include respond-to(tablet-portrait){
            flex: 0 1 768px;
            background-color: rgba(229, 229, 229, 0.8);
            }
        @include respond-to(mobile-portrait){
            flex: 0 1 320px;
            }
    }
    &__inner{
        width: 260px;
        height: 260px;
        background: url("../../images/planet.png") center center no-repeat;
        margin: 40px auto 30px;
        @include respond-to(middle-desktop){
            width: 170px;
            height: 170px;
            border-radius: 50%;
            margin-top: 40px;
            }
        @include respond-to(mobile-portrait){
            margin: 20px auto;
            padding-top: 0px;
            }
        .value{
            font-size: 72px;
            font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
            color: rgb(255, 255, 255);
            line-height: 1.2;
            text-align: center;
            display: block;
            padding-top: 40px;
            text-shadow: 0px 8px 2px rgba(1, 2, 2, 0.33);
            @include respond-to(middle-desktop){
                font-size: 40px;
            }
        }
        .text{
            @extend .value;
            font-size: 23px;
            text-transform: uppercase;
            padding: 5px 0 0 0;
            margin: 0;
            letter-spacing: 4px;
            line-height: 36px;
            @include respond-to(middle-desktop){
                font-size: 12px;
                line-height: 20px;
                padding: 0;
            }
        }
    }
    &__content-title{
        text-align: center;
        margin: 0 auto;
        font-size: 30px;
        font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
        line-height: 2.2;
        color: rgb(0, 0, 0);
        box-sizing: border-box;
        @include respond-to(middle-desktop){
            font-size: 20px;
        }
        @include respond-to(mobile-portrait){
        }
    }
    &__content-text{
        @extend .persons__content-title;
        line-height: 2;
        font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-align: center;
        padding: 0;
        margin-bottom: 70px;
        @include respond-to(middle-desktop){
            line-height: 22px;
            font-size: 16px;
        }
        @include respond-to(tablet-portrait){
            padding: 0 120px;
            }
        @include respond-to(mobile-landscape){
            padding: 0 20px;
            }
    }
    &__content-more{
        margin: 0 auto 50px;
        width: 480px;
        height: 60px;
        border-radius: 30px;
        border: 0.5px solid #000;
        outline: none;
        background-color: transparent;
        text-align: center;
        display: block;
        font-size: 18px;
        font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
        color: #000;
        text-transform: uppercase;
        line-height: 3;
        letter-spacing: 2px;
        transition: 0.5s;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        &:hover{
            background-color: #fff;
            color: #097886;
            box-shadow: 5px 8.66px 24px 0px rgba(1, 2, 2, 0.3);
            border: 0.5px solid #fff;
        }
        @include respond-to(middle-desktop){
            width: 75%;
            max-width: 360px;
            margin-top: 20px;
            height: 50px;
            letter-spacing: 1.5px;
            font-size: 16px;
        }
        @include respond-to(mobile-landscape){
            width: 80%;
            margin: 50px auto;
            margin-bottom: 0;
        }
        @include respond-to(mobile-portrait){
            width: 80%;
            margin: 20px auto 0;
        }
    }
}