.popup-wrapper{
    background: linear-gradient(to bottom, rgba(0, 154, 164, 1) 0%, rgba(15, 99, 116, 1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 120;
    width: 100%;
    height: 0;
    transition: height 0.4s ease-in-out;
    overflow-y: scroll;
}
.popup{
    background: linear-gradient(to bottom, rgba(0, 154, 164, 1) 0%, rgba(15, 99, 116, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 6;
    padding-top: 120px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    @include respond-to(tablet-portrait){
        padding: 0;
        overflow-x: hidden;
    }
    @include respond-to(mobile-portrait){
    // padding-top: 100px
    }
    .btn-close{
        width: 60px;
        height: 60px;
        right: 40px;
        top: 40px;
        position: absolute;
        z-index: 5;
        background: #67c0c6;
        outline: none;
        border-radius: 50%;
        border: none;
        transition: 0.5s;
        &:hover{
            background: #fff;
            color: #097886;
            box-shadow: 5px 8.66px 24px 0px rgba(1, 2, 2, 0.3);
        }
        @include respond-to(tablet-portrait){
            width: 40px;
            height: 40px;
        }
        @include respond-to(mobile-landscape){
            top: 20px;
            right: 20px;
        }
        @include respond-to(mobile-portrait){
            top: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
        }
    }
    .inner-wrapper{
        align-self: center;
        width: 100%;
        }
    .adrress{
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        max-width: 800px;
        margin: 0 auto 150px;
        position: relative;
        @include respond-to(middle-desktop){
            max-width: 700px;
            }
        @include respond-to(tablet-landscape){
            max-width: 650px;
            }
        @include respond-to(tablet-portrait){
            padding-left: 0;
            max-width: 480px;
            display: none;
            }
        @include respond-to(mobile-landscape){
            max-width: 400px;
            &:before{
                border-top: 1px solid #fff;
                position: absolute;
                left: 20px;
                right: 20px;
                content: "";
            }
            flex-direction: row;
            display: none;
            }
        @include respond-to(mobile-portrait){
            flex-direction: column;
            justify-content: space-between;
            max-width: 300px;
            display: none;
        }
        &__item-bergen{
            position: relative;
            margin-left: 80px;
            &:before{
                position: absolute;
                width: 60px;
                height: 60px;
                content: "";
                box-sizing: border-box;
                border-radius: 50%;
                left: -80px;
                top: 0;
                background-image: url("../../images/location_icon.png");
            }
            @include respond-to(tablet-landscape){
                margin-left: 0;
                &:before{
                    width: 0;
                    height: 0;
                }
            }
            @include respond-to(mobile-landscape){
                &:before{
                    background: none;
                }
                margin-top: 20px;
            }
            @include respond-to(mobile-portrait){
                align-self: center;
                margin-bottom: 50px;
            }
        }
        &__item-lviv{
            position: relative;
            &:before{
                position: absolute;
                width: 60px;
                height: 60px;
                content: "";
                box-sizing: border-box;
                border-radius: 50%;
                left: -80px;
                top: 0;
                background-image: url("../../images/location_icon.png");
            }
            @include respond-to(tablet-landscape){
                &:before{
                    width: 0;
                    height: 0;
                }
            }
            @include respond-to(mobile-landscape){
                &:before{
                    background: none;
                }
                margin-top: 20px;
            }
            @include respond-to(mobile-portrait){
                align-self: center;
                margin-bottom: 50px;
            }
        }
        &__item-info{
            color: #fff;
            font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
            font-size: 21px;
            line-height: 1.429;
            margin: 0;
            @include respond-to(tablet-portrait){
                font-size: 18px;
            }
            @include respond-to(mobile-landscape){
                font-size: 16px;
            }
        }
        &__item-list{
            padding: 0;
            margin: 0;
        }
        .text-item{
            list-style-type: none;
            font-size: 18px;
            padding-top: 15px;
            color: #fff;
            text-align: left;
            font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
            line-height: 1.4;
            @include respond-to(tablet-portrait){
                font-size: 14px;
            }
            @include respond-to(mobile-landscape){
                padding-top: 5px;
            }
        }
    }
}
.icon-cross{
    width: 40px;
    height: 40px;
    color: #1d7381;
    @include respond-to(tablet-portrait){
        width: 30px;
        height: 30px;
    }
}