.services{
    background: linear-gradient(to bottom, rgba(0, 102, 102, 1) 0%, rgba(0, 147, 155, 1) 5%, rgba(15, 99, 116, 1) 100%);
    min-width: 320px;
    padding-top: 100px;
    @include respond-to(tablet-landscape){
        padding-top: 60px;
    }
    &__info{
        background: linear-gradient(to top, rgba(0, 154, 164, 1) 0%, rgba(15, 99, 116, 1) 100%);
        padding: 120px 80px 150px 150px;
        @include respond-to(middle-desktop){
            padding: 40px 45px 50px 40px;
            }
        @include respond-to(tablet-landscape){
            padding: 40px 40px 50px 30px;
            }
        @include respond-to(tablet-portrait){
            padding: 30px 20px 50px 20px;
            }
        &-title{
            margin: 0;
            font-size: 48px;
            font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
            color: #fff;
            line-height: 70px;
            text-align: left;
            letter-spacing: 2px;
            transform: matrix(1.00014580586513, 0, 0, 0.99985543115083, 0, 0);
            margin-bottom: 20px;
            max-width: 700px;
            @include respond-to(middle-desktop){
                line-height: 2;
                font-size: 30px;
                }
            @include respond-to(tablet-portrait){
                line-height: 1.5;
                font-size: 28px;
                }
            @include respond-to(mobile-portrait){
                font-size: 20px;
                }
        }
        &-text{
            font-size: 24px;
            max-width: 650px;
            font-family: "Raleway-Thin", Arial, Helvetica, sans-serif;
            color: rgb(255, 255, 255);
            line-height: 48px;
            text-align: left;
            letter-spacing: 1px;
            margin: 0;
            transform: matrix(1.00014580586513, 0, 0, 0.99985543115083, 0, 0);
            @include respond-to(middle-desktop){
                font-size: 18px;
                text-align: left;
                padding-right: 200px;
                }
            @include respond-to(tablet-landscape){
                padding-right: 70px;
                }
            @include respond-to(tablet-portrait){
                font-size: 18px;
                padding-right: 20px;
                }
        }
    }
    &__list{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        &-row{
            width: 100%;
            display: flex;
            // min-height: 490px
            height: 100%;
            &:nth-child(2n){
                flex-direction: row-reverse;
                }
            @include respond-to(large-desktop){
                flex-wrap: nowrap;
                flex-direction: column;
                &:nth-child(2n){
                    flex-direction: column;
                }
            }
        }
        &-item{
            width: 50%;
            padding: 70px 85px;
            box-sizing: border-box;
            background-color: white;
            transition: 0.4s;
            min-height: 450px;
            @include respond-to(desktop){
                min-height: 400px;
                padding: 70px 40px 20px 40px;
            }
            @include respond-to(large-desktop){
                padding: 60px 40px 20px 40px;
                }
            @include respond-to(middle-desktop){
                padding: 70px 40px 20px 40px;
                }
            @include respond-to(tablet-landscape){
                padding: 70px 30px 20px 30px;
                min-height: 300px;
            }
            @include respond-to(tablet-portrait){
                padding: 50px 20px 20px 20px;
            }
            @include respond-to(mobile-landscape){
                padding: 30px 30px 20px 30px;
                }
            @include respond-to(mobile-portrait){
                padding: 20px 15px 20px 15px;
                }
            @include respond-to(large-desktop){
                width: 100%;
            }
            .item-element{
                width: 33.33%;
                position: relative;
                @include respond-to(mobile-landscape){
                    width: 50%;
                    }
                @include respond-to(mobile-portrait){
                    width: 50%;
                    min-height: 160px;
                    }
                &:hover {
                    .item-element-wrapper {
                        animation: fadeOut 1s;
                    }
                    .item-element-inner {
                        animation: fadeIn 0.5s;
                        z-index: 3;
                    }
                }
                &-wrapper{
                    position: relative;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    .item-image-wrapper{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .item-image{
                            display: block;
                            max-width: 80%;
                        }
                    }
                }
                &-inner{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    background: #fff;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &-text{
                    height: 200px;
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    font-size: 21px;
                    text-transform: uppercase;
                    font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
                    color: #fff;
                    display: flex;
                    @include respond-to(desktop){
                        width: 190px;
                        height: 190px;
                    }
                    @include respond-to(mobile-landscape){
                        width: 160px;
                        height: 160px;
                    }
                    @include respond-to(mobile-portrait){
                        width: 140px;
                        height: 140px;
                        text-align: center;
                    }
                }
            }
        }
    }
        &-title{
            font-size: 48px;
            line-height: 72px;
            margin: 0 0 30px;
            font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
            max-width: 560px;
        }
        &-text{
            font-size: 24px;
            line-height: 36px;
            margin: 20px 0px;
            font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
        }

        &-btn{
            font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 22px;
            line-height: 36px;
            border: 1px solid #000;
            background: transparent;
            border-radius: 30px;
            height: 60px;
            width: 560px;
            text-transform: uppercase;
            transition: 0.4s;
            display: block;
            @include respond-to(tablet-portrait){
                width: 70%;
                margin: 0 auto;
            }
            @include respond-to(mobile-landscape){
                width: 85%;
                margin: 0 auto;
                font-size: 16px;
            }
            &:hover{
                background: #fff;
                color: #097886;
                box-shadow: 5px 8.66px 24px 0px rgba(1, 2, 2, 0.3);
                border: none;
            }
        }

    &__item{
        height: 100%;
        &-image{
            width: 100%;
            height: auto;
            display: block;
        }
        &-child{
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            &.wide-one{
                &:hover{
                    .child-text{
                        animation: fadeOut 1s 1;
                    }
                    .child-inner{
                        animation: fadeIn 0.5s 1;
                        z-index: 3;
                    }
                }
            }
            &-subl{
                width: 225px;
                color: #fff;
                border-radius: 50%;
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                height: 225px;
            }
            &.row{
                flex: 1;
                height: 100%;
                width: 100%;
            }
            .child-wrapper{
                z-index: 5;
                height: 100%;
                width: 100%;
                position: relative;
                &:hover{
                    .child-text{
                        animation: fadeOut 1s 1;
                        z-index: 1;
                        display: none;
                    }
                    .child-inner{
                        animation: fadeIn 0.5s 1;
                        z-index: 3;
                        display: flex;
                    }
                }
                .child-text{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .child-text-project{
                        position: relative;
                        margin: 0;
                        font-size: 24px;
                        font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
                        text-transform: uppercase;
                        color: #fff;
                    }
                }

                .child-image{
                    width: 100%;
                    display: block;
                    @include respond-to(mobile-portrait){
                        min-height: 250px;
                    }
                }
            }
            .child-inner{
                position: absolute;
                z-index: 1;
                height: 100%;
                width: 100%;
                top: 0;
                display: none;
                &-image{
                    display: block;
                    width: 100%;
                }
                &-wrapper{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include respond-to(mobile-landscape){
                        flex-direction: column;
                    }
                    .child-inner-link{
                        margin-left: 30px;
                        width: 220px;
                        height: 50px;
                        border-radius: 25px;
                        position: relative;
                        font-size: 18px;
                        text-transform: uppercase;
                        text-align: center;
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #fff;
                        box-sizing: border-box;
                        font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
                        outline: none;
                        letter-spacing: 2px;
                        transition: 0.5s;
                        color: #fff;
                        @include respond-to(mobile-landscape){
                            margin: 20px 0 0 0;
                        }
                        &:hover{
                            background-color: #fff;
                            color: #0f6473;
                            box-shadow: 5px 8.66px 24px 0px rgba(1, 2, 2, 0.3);
                        }
                    }
                }
                &-text{
                    font-size: 21px;
                    font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
                    text-transform: uppercase;
                    color: #fff;
                }
            }
        }

        &-project-child{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 33.3%;
            position: relative;
            @include respond-to(mobile-portrait){
                width: 100%;
            }
            &:hover{
                .item-wrapper .item-text{
                    z-index: 2;
                }
                .item-inner{
                    animation: fadeIn 0.5s 1;
                    display: flex;
                }
                .item-logo{
                    animation: pulse 0.8s 1;
                }
            }
            .item-wrapper{
                position: relative;
                height: 100%;
                width: 100%;
                display: block;
                z-index: 2;
                .item-image{
                    width: 100%;
                    height: auto;
                    display: block;
                    position: relative;
                    z-index: 5;
                }
                .item-text{
                    display: flex;
                    position: absolute;
                    flex: 1;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    font-size: 24px;
                    font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
                    text-transform: uppercase;
                    color: #fff;
                    letter-spacing: 4px;
                    z-index: 10;
                    &-project{
                        position: relative;
                        margin: 0;
                        max-width: 80%;
                        text-align: center;
                        @include respond-to(tablet-portrait){
                            font-size: 14px;
                            line-height: 2;
                        }
                        @include respond-to(mobile-landscape){
                            font-size: 40px;
                        }
                    }
                }
            }
            .item-inner{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                z-index: 10;
                display: none;
                &-image{
                    display: block;
                    width: 100%;
                    height: 100%;
                    display: none;
                }
                .inner-wrapper{
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    .item-logo{
                        width: 220px;
                        height: 220px;
                        border-radius: 50%;
                        @include respond-to(desktop){
                            width: 200px;
                            height: 200px;
                            }
                        @include respond-to(large-desktop){
                            width: 250px;
                            height: 250px;
                            }
                        @include respond-to(tablet-landscape){
                            width: 200px;
                            height: 200px;
                            }
                        @include respond-to(tablet-portrait){
                            width: 180px;
                            height: 180px;
                            }
                        @include respond-to(mobile-landscape){
                            width: 150px;
                            height: 150px;
                            }
                        @include respond-to(mobile-portrait){
                            width: 200px;
                            height: 200px;
                        }
                        &-image{
                            display: block;
                            border-radius: 50%;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .item-link{
                        border-radius: 50%;
                        .icon-earth{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    &__footer{
        background: linear-gradient(to bottom, rgba(6, 140, 151, 1) 0%, rgba(2, 154, 164, 1) 100%);
        display: flex;
        padding: 200px 0 0;
        flex-wrap: wrap;
        flex-direction: column;
        @include respond-to(mobile-landscape){
            padding: 120px 0 0;
        }
        &-title{
            margin: 70px auto;
            font-size: 48px;
            line-height: 60px;
            color: #fff;
            font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
            text-align: center;
            @include respond-to(mobile-landscape){
                margin: 0 0 50px;
                padding: 0 20px;
            }
        }
        &-btn{
            margin: 0 auto;
            height: 65px;
            width: 485px;
            display: block;
            border: 1px solid #fff;
            border-radius: 32.5px;
            outline: none;
            background: transparent;
            font-size: 24px;
            line-height: 36px;
            font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
            color: #fff;
            margin-bottom: 360px;
            transition: 0.5s;
            text-transform: uppercase;
            @include respond-to(mobile-landscape){
                width: 80%;
                margin: 0 auto 100px;
            }
            &:hover{
                background: #fff;
                color: rgb(15, 100, 115);
                border: 1px solid transparent;
                box-shadow: 5px 8.66px 24px 0px rgba(1, 2, 2, 0.3);
            }
        }
    }
}


.text-hover{
    &:hover{
        background-image: linear-gradient(0deg, rgb(15, 99, 114) 0%, rgb(2, 154, 164) 100%);
        color: #fff;
    }
}
.flexible{
    display: flex;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.bottom-items{
    @include respond-to(mobile-portrait){
        flex-direction: column;
    }
}

.stack-icons{
    @include respond-to(large-desktop){
        height: 500px;
        }
    @include respond-to(mobile-portrait){
        height: 100%;
        }
}

.flexcol{
    flex-direction: column;
    overflow: hidden;
}
.flex-helper{
    height: 500px;
    @include respond-to(large-desktop){
        height: 450px;
        }
    @include respond-to(tablet-portrait){
        flex-direction: row;
        overflow: hidden;
        height: 400px;
        }
}
.circle-light{
    background-color: #2cb8ac;
}
.circle-middle{
    background-color: #009aa4;
}
.circle-hard{
    background-color: #106474;
}