.social{
    width: 350px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 185px;
    justify-content: space-around;
    @include respond-to(mobile-landscape){
        margin-bottom: 175px;
        }
    @include respond-to(mobile-portrait){
        width: 280px;
        margin-bottom: 45px;
        }
    &__item{
        display: block;
        border-radius: 50%;
        border: 1px solid #fff;
        width: 60px;
        height: 60px;
        box-sizing: border-box;
        overflow: hidden;
        transition: 0.5s;
        &:hover{
            cursor: pointer;
            background: #fff;
            box-shadow: 0px 10px 24px 0px rgba(1, 2, 2, 0.3);
        @include respond-to(mobile-landscape){
            width: 60px;
            height: 60px;
            }
        @include respond-to(mobile-portrait){
            width: 40px;
            height: 40px;
            }
        }
    }
    .icon-linkedin{
        color: #fff;
        &:hover{
            color: #0077B5;
            }
        @include respond-to(tablet-portrait){
            width: 60px;
            height: 60px;
            }
        @include respond-to(mobile-landscape){
            width: 60px;
            height: 60px;
            }
        @include respond-to(mobile-portrait){
            width: 40px;
            height: 40px;
            }
    }
    .icon-behance{
        color: #fff;
        &:hover{
            color: #053eff;
            }
        @include respond-to(tablet-portrait){
            width: 60px;
            height: 60px;
            }
        @include respond-to(mobile-landscape){
            width: 60px;
            height: 60px;
            }
        @include respond-to(mobile-portrait){
            width: 40px;
            height: 40px;
            }
    }
    .icon-fb{
        color: #fff;
        &:hover{
            color: #3b5998;
            }
        @include respond-to(tablet-portrait){
            width: 60px;
            height: 60px;
            }
        @include respond-to(mobile-landscape){
            width: 60px;
            height: 60px;
            }
        @include respond-to(mobile-portrait){
            width: 40px;
            height: 40px;
            }
    }
    .icon-twitter{
        color: #fff;
        position: relative;
        top: 4px;
        left: -4px;
        &:hover{
            color: #55acee;
            }
        @include respond-to(tablet-portrait){
            width: 60px;
            height: 60px;
            }
        @include respond-to(mobile-landscape){
            width: 60px;
            height: 60px;
            }
        @include respond-to(mobile-portrait){
            width: 40px;
            height: 40px;
            }
    }
}