.works{
    background: linear-gradient(to bottom, rgba(0, 102, 102, 1) 0%, rgba(0, 147, 155, 1) 5%, rgba(15, 99, 116, 1) 100%);
    min-width: 320px;
    padding-top: 100px;
    @include respond-to(tablet-landscape){
        padding-top: 60px
    }
    &__list{
        display: flex;
        // justify-content: center
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 120px 50px 0;
        margin-bottom: 340px;
        position: relative;
        box-sizing: border-box;
        max-width: 1470px;
        @include respond-to(desktop){
            margin-bottom: 300px;
            max-width: 1300px;
            }
        @include respond-to(large-desktop){
            margin-bottom: 260px;
            max-width: 1200px;
            }
        @include respond-to(middle-desktop){
            margin-bottom: 220px;
            max-width: 1000px;
            }
        @include respond-to(tablet-landscape){
            margin-bottom: 180px;
            max-width: 780px;
            }
        @include respond-to(tablet-portrait){
            margin-bottom: 140px;
            max-width: 600px;
            }
        @include respond-to(mobile-landscape){
            padding: 120px 20px 0;
            max-width: 480px;
            }
        @include respond-to(mobile-portrait){
            margin-bottom: 40px;
            padding: 120px 10px 0;
            max-width: 80%;
        }
    }
    &__item{
        // flex: 0 1 685px
        width: 50%;
        height: auto;
        padding: 0;
        margin: 0;
        position: relative;
        transition: all 0.2s ease-in-out;
        &:not(:first-child){
            box-shadow: 7px 9.66px 24px 0px rgba(1, 1, 1, 0.29);
        }
        @include respond-to(desktop){
            // flex: 0 1 600px
            // height: 600px
            height: auto;
        }
        @include respond-to(large-desktop){
            // flex: 0 1 550px
            // height: 550px
            height: auto;
        }
        @include respond-to(middle-desktop){
            // flex: 0 1 450px
            // height: 450px
            height: auto;
        }
        @include respond-to(tablet-landscape){
            // flex: 0 1 330px
            // height: 330px
            height: auto;
        }
        @include respond-to(tablet-portrait){
            // flex: 0 1 550px
            // height: 550px
            height: auto;
            width: 100%;
        }
        @include respond-to(mobile-landscape){
            // flex: 0 1 400px
            // height: 400px
            height: auto;
        }
        @include respond-to(mobile-portrait){
            // flex: 0 1 290px
            // height: 320px
            height: auto;
        }
        &:first-child{
            @include respond-to(tablet-portrait){
                height: 550px;
                }
            @include respond-to(mobile-landscape){
                height: 400px;
                }
            @include respond-to(mobile-portrait){
                height: 290px;
                }
        }
        &:first-child:before{
            content: "";
            background: url("../../images/planet.png") no-repeat center center;
            background-size: 100% 100%;
            width: 400px;
            height: 400px;
            position: absolute;
            top: -50px;
            left: 0;
            @include respond-to(desktop){
                width: 350px;
                height: 350px;
                left: 50px;
                }
            @include respond-to(large-desktop){
                width: 350px;
                height: 350px;
                left: 50px;
                }
            @include respond-to(middle-desktop){
                width: 280px;
                height: 280px;
                left: 50px;
                }
            @include respond-to(tablet-landscape){
                width: 220px;
                height: 220px;
                left: 30px;
                top: -30px;
                }
            @include respond-to(tablet-portrait){
                width: 400px;
                height: 400px;
                left: 50px;
                top: -50px;
                }
            @include respond-to(mobile-landscape){
                width: 280px;
                height: 280px;
                left: 30px;
                top: -30px;
                }
            @include respond-to(mobile-portrait){
                width: 200px;
                height: 200px;
                left: 30px;
                top: -30px;
                }
        }
        &:hover{
            .works__item-inner{
                display: block;
                animation: fadeIn 0.5s 1;
                z-index: 3;
                }
            .works__item-wrapper{
                display: none;
                animation: fadeOut 0.5s 1;
            }
            .works__item-roundimage{
                animation: pulse 0.8s 1;
                }
        }
    }
    &__title{
        font-size: 72px;
        font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        line-height: 1.25;
        text-align: left;
        letter-spacing: 3px;
        text-shadow: 0px 8px 2px #000;
        margin: 15px auto;
        @include respond-to(desktop){
            font-size: 60px
            }
        @include respond-to(large-desktop){
            font-size: 52px
            }
        @include respond-to(middle-desktop){
            font-size: 36px;
            line-height: 1.5;
            }
        @include respond-to(tablet-landscape){
            font-size: 32px;
            line-height: 1.2;
            }
        @include respond-to(tablet-portrait){
            font-size: 52px;
            }
        @include respond-to(mobile-landscape){
            font-size: 32px;
            line-height: 1.25;
            }
        @include respond-to(mobile-portrait){
            font-size: 28px;
            line-height: 1.2;
            }
    }
    &__text{
        font-size: 20px;
        font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        line-height: 36px;
        text-align: left;
        margin: 0;
        @include respond-to(desktop){
            line-height: 36px;
            font-size: 22px;
            }
        @include respond-to(large-desktop){
            font-size: 22px;
            line-height: 36px;
            }
        @include respond-to(middle-desktop){
            font-size: 18px;
            line-height: 30px;
            }
        @include respond-to(tablet-landscape){
            font-size: 14px;
            line-height: 26px;
            }
        @include respond-to(tablet-portrait){
            font-size: 22px;
            line-height: 36px;
            }
        @include respond-to(mobile-landscape){
            font-size: 18px;
            line-height: 30px;
            }
        @include respond-to(mobile-portrait){
            font-size: 12px;
            line-height: 18px;
            }
    }
    &__text-wrapper{
        position: absolute;
        z-index: 3;
        padding: 0 80px 0 60px;
        @include respond-to(desktop){
            flex: 0 1 600px;
            }
        @include respond-to(large-desktop){
            padding: 0 80px 0 60px;
            }
        @include respond-to(middle-desktop){
            padding: 10px 60px 0 40px;
            }
        @include respond-to(tablet-landscape){
            padding: 0 30px 0 20px;
            }
        @include respond-to(tablet-portrait){
            padding: 0;
            }
        @include respond-to(mobile-landscape){
            padding: 0 60px 0 40px;
            }
        @include respond-to(mobile-portrait){
            padding: 0 20px 0 15px;
            }
        }
    &__item-wrapper{
        width: 100%;
        height: 100%;
        }
    &__item-image{
        width: 100%;
        height: 100%;
        display: block;
        }
    &__item-inner{
        width: 100%;
        height: 100%;
        display: none;
        position: relative;
        z-index: 2;
        }
    &__item-inner-earthb{
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        display: block;
        &:hover{
            cursor: pointer;
            }
        .icon-earthy{
            width: 60px;
            height: 60px;
            color: #fff;
            opacity: 0.8;
            &:hover{
                opacity: 1;
                }
            @include respond-to(tablet-landscape){
                width: 40px;
                height: 40px;
                }
            @include respond-to(tablet-portrait){
                width: 60px;
                height: 60px;
                }
            @include respond-to(mobile-portrait){
                width: 50px;
                height: 50px;
                }
        }
    }
    &__item-inner-image{
        width: 100%;
        height: 100%;
        display: block;
        }
    &__item-content{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 20px;
        box-sizing: border-box;
        @include respond-to(tablet-landscape){
            padding-top: 20px;
            }
        @include respond-to(tablet-portrait){
            padding-top: 10px;
            }
        @include respond-to(mobile-landscape){
            padding-top: 40px;
            }
        @include respond-to(mobile-portrait){
            padding-top: 40px;
            }
    }
    &__item-inner-title{
        line-height: 3;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        font-size: 30px;
        @include respond-to(desktop){
            font-size: 24px;
            margin-bottom: 20px;
            line-height: 2;
            }
        @include respond-to(large-desktop){
            font-size: 22px;
            margin-bottom: 0px;
            }
        @include respond-to(middle-desktop){
            line-height: 1.5;
            font-size: 20px;
            }
        @include respond-to(tablet-landscape){
            line-height: 1.2;
            font-size: 18px;
            }
        @include respond-to(tablet-portrait){
            font-size: 22px;
            margin-bottom: 10px;
            }
        @include respond-to(mobile-landscape){
            line-height: 1.2;
            font-size: 18px;
            margin-bottom: 0px;
            }
        @include respond-to(mobile-portrait){
            line-height: 1;
            font-size: 18px;
            margin-bottom: 0px;
            }
    }
    &__item-inner-view{
        box-sizing: border-box;
        width: 360px;
        height: 360px;
        margin: 10px auto;
        margin-bottom: 40px;
        @include respond-to(desktop){
            width: 320px;
            height: 320px;
            margin: 20px auto;
            margin-bottom: 40px;
            }
        @include respond-to(large-desktop){
            width: 300px;
            height: 300px;
            margin: 20px auto;
            margin-bottom: 40px;
            }
        @include respond-to(middle-desktop){
            width: 250px;
            height: 250px;
            margin: 10px auto;
            margin-bottom: 20px;
            }
        @include respond-to(tablet-landscape){
            width: 180px;
            height: 180px;
            margin: 10px auto;
            margin-bottom: 20px;
            }
        @include respond-to(tablet-portrait){
            width: 270px;
            height: 270px;
            margin: 20px auto;
            margin-bottom: 40px;
            }
        @include respond-to(mobile-landscape){
            width: 180px;
            height: 180px;
            margin: 20px auto;
            margin-bottom: 30px;
            }
        @include respond-to(mobile-portrait){
            width: 150px;
            height: 150px;
            margin: 15px auto;
            }
    }
    &__item-roundimage{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        }
    &__item-inner-earth{
        display: block;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        text-align: center;
        box-sizing: border-box;
        @include respond-to(middle-desktop){
            width: 30px;
            height: 30px;
            }
    }
    &__item-inner-stack{
        margin: 0 auto;
        padding: 40px 10px 0;
        display: flex;
        justify-content: center;
        @include respond-to(large-desktop){
            padding: 30px 10px 0;
            }
        @include respond-to(middle-desktop){
            padding: 20px 10px 0;
            }
        @include respond-to(tablet-landscape){
            padding: 5px 10px 0;
            }
        @include respond-to(tablet-portrait){
            padding: 30px 10px 0;
            }
        @include respond-to(mobile-landscape){
            padding: 20px 10px 0;
            }
        @include respond-to(mobile-portrait){
            padding: 0 10px;
            }
    }
    &__item-text{
        list-style-type: none;
        box-sizing: border-box;
        padding: 0 10px;
        position: relative;
        @include respond-to(middle-desktop){
            padding: 0 6px;
        }
        &:not(:last-child):after{
            background: #fff;
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 50%;
            position: absolute;
            right: -2px;
            top: 50%;
            margin-top: -2px;
        }
        p{
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
            font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
            font-size: 16px;
            text-align: center;
            @include respond-to(large-desktop){
                font-size: 12px
                }
            @include respond-to(middle-desktop){
                font-size: 12px;
                line-height: 2;
                }
            @include respond-to(tablet-landscape){
                font-size: 11px;
                }
            @include respond-to(tablet-portrait){
            }

            @include respond-to(mobile-landscape){
                font-size: 10px;
            }
            @include respond-to(mobile-portrait){
                font-size: 9px;
            }
        }
    }
}